body {
    background-color: lightgray;
}

* {
    /*outline: 1px solid blue;*/
    box-sizing: border-box;
}

a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {
    margin: 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*outline: 1px solid blue;*/
}

div.header {
    border: 2px solid gray;
    height: 50px;
}

h2 {
    margin: 0px;
}

div.body {
    overflow: auto;
    height: 100%;
    padding: 0px;
}

.sidebar {
    float: left;
    width: 20%;
    margin: 0px;
    padding: 0px;
}

.content {
    margin-left: 21%;
    padding: 0px;
}

div.footer {
    height: 50px;
    clear: both;
    text-align: center;
    border: 2px solid gray;
    padding: 0px;
}

p.contact {
    margin: auto;
}

.title {
    text-align: center;
}

.section_header {
    text-align: center;
    border: 2px solid gray;
    background-color: gray;
    margin: 0px;
    height: 30px;
}

ul.memo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px solid gray;
}

.memo li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: large;
}

.memo li a.active {
    background-color: #4CAF50;
    color: white;
}

.memo li a.selected {
    background-color: #4CAF50;
    color: white;
}

.memo li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.toolbar {
    height: 60px;
    border: 2px solid gray;
}

ul.toolbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.toolbar li {
    float: left;
}

.toolbar li.about, .toolbar li.help {
    float: right;
}

.toolbar li a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: large;
}

.toolbar li a:hover:not(.active) {
    color: white;
    background-color: #111;
}

.toolbar .active {
    background-color: #4CAF50;
}

div .text {
    padding: 0px;
    border: 2px solid gray;
}

div .text_title, div .text_content {
    margin: 0px;
}

.text_head {
    margin: 0px;
}

input.text_title {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    font-size: large;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

textarea.text_content {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    font-size: large;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.frame {
    box-shadow: 8px 8px 8px gray;
}

.frame:hover {
    border: 2px solid darkblue;
}

.plaintext
{
    text-shadow: 6px 6px 6px black;
}

.command {
    color: darkblue;
}
