<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Memo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-app="memoApp" ng-controller="mycontroller as c">

<div class="header frame">
    <h2 class="title plaintext">Memo</h2>
</div>

<div class="body">
    <div class="sidebar">
        <ul class="memo frame">
            <h3 class="section_header plaintext">Contents</h3>
            <li ng-repeat="memo in c.memos"><a class="memo plaintext" ng-click='c.memoOnClicked(memo.id)'>{{memo.title}}</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="toolbar frame">
            <ul class="toolbar">
                <li>
                    <a class="plaintext command" ng-click="c.newOnClicked()">New</a>
                </li>
                <li>
                    <a class="plaintext command" ng-click="c.saveOnClicked()">Save</a>
                </li>
                <li>
                    <a class="plaintext command" ng-click="c.deleteOnClicked()">Delete</a>
                </li>
                <li class="help">
                    <a class="plaintext command" ng-click="c.helpOnClicked()">Help</a>
                </li>
                <li class="about">
                    <a class="plaintext command" ng-click="c.aboutOnClicked()">About</a>
                </li>
            </ul>
        </div>
        <div class="text frame">
            <div class="text_title">
                <span class="text_head plaintext">Title</span><br /><br /> <input class="text_title frame" type="text" ng-model="c.currentMemo.title"/>
            </div>
            <div class="text_content">
                <span class="text_head plaintext">Content:</span><br /><br />
                <textarea class="text_content frame" ng-model="c.currentMemo.content"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="footer frame">
    <p class="contact plaintext">Email: wangxinghe1983@gmail.com</p>
    <p class="contact plaintext">QQ: 603207838</p>
</div>

</body>
</html>
